* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 30px;
    text-align: center;
}

th {
    padding-right: 50px;
    padding-bottom: 10px;

}

td {
    padding-right: 50px;
    padding-bottom: 10px;
}

#img-container {
    width: 100px;
    height: 100px;
}

#img-container img {
    width: 100%;
}